@model CHSR.Models.ResourcePerson

@{
    ViewData["Title"] = "Details";
    var path = $"/documents/ResourcePerson/{Model.PicFolderId}/{Model.PhotoFileName}";
}

<h1>Details</h1>

<div>
    <h4>ResourcePerson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <img src="@path" alt="" width="120" />
        </dt>
        <dd class="col-sm-10">

          

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Institute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Institute)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubSpecialization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubSpecialization)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
